body {
  background-repeat: no-repeat;
  background-color: #091919;
  background-size: cover;
  position: relative;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5rem;
  left: -150px;
  clip-path: circle(20% at 50% 50%);
  /* border-radius: 50%; */
  background: rgb(248, 33, 33);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 165rem;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  padding: 1.1rem 4rem;
  background-color: rgb(255, 255, 255, 0.5);
  margin-top: 9.7rem;
  border-radius: 7px;
  backdrop-filter: blur(5px);
}

.box h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.box h1::before {
  content: "";
  height: 3px;
  width: 50px;
  background: rgb(0, 0, 0);
  display: block;
}
.box h1::after {
  content: "";
  height: 3px;
  width: 50px;
  background: rgb(0, 0, 0);
}
.submit-btn {
  padding: 5px 25px;
  font-size: medium;
}
#result {
  color: #fff;
  font-size: 1.5rem;
}
input {
  padding: 10px 15px;
}
select {
  padding: 5px 15px;
}
@media (max-width: 35em) {
  .box {
    align-items: center;
  }
  .box h1 {
    font-size: 1.3rem;
  }
  .box h1::before {
    display: none;
  }
  .box h1::after {
    display: none;
  }
  p {
    font-size: 0.8rem;
  }
}
